body {
  background-color: #d2dad5;
  font-family: "Noto Sans", serif;
}

a {
  color: #4a5240;
}

header {
  border-bottom: 1px solid #4a5240;
  padding: 0 0 30px 0;
}

/* main section box */
.container {
  background-color: #a0b2a6;
  margin: 60px auto;
  width: 600px;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(160, 178, 166, 0.3);
  border-radius: 30px;
}

.search-form-input {
  background-color: #d2dad5;
  border: 1px solid #4a5240;
  border-radius: 15px;
  width: 80%;
  padding: 15px;
  font-size: 16px;
}

.search-form-btn {
  background-color: #4a5240;
  border: none;
  border-radius: 16px;
  padding: 15px 30px;
  color: #ccd2cf;
  margin-left: 5px;
  font-size: 16px;
}

.search-form-btn:active {
  background-color: #343b2c;
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}

/* breaks main section city and big temp number to two opposite sides */
.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
  color: #343b2c;
}

.weather-country {
  margin: 0;
  font-size: 20px;
  color: #4a5240;
  line-height: 40px;
}

.weather-details {
  font-size: 16px;
  line-height: 24px;
  color: #4a5240;
}

.weather-current-temp {
  display: flex;
  color: #343b2c;
}

.weather-temp-value {
  font-size: 88px;

  font-weight: bold;
  line-height: 88px;
}

.weather-unit {
  margin-top: 6px;
  font-size: 28px;
}

.weather-icon {
  width: 88px;
  height: 88px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-day {
  background-color: #d2dad5;
  padding: 10px;
  border-radius: 15px;
}

.forecast-date {
  text-align: center;
  color: #4a5240;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}

.forecast-temperatures {
  text-align: center;
  color: #4a5240;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.forecast-temperature {
  padding: 0 10px;
}

main {
  padding: 30px 0;
}

footer {
  border-top: 1px solid #4a5240;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: #777973;
}
