body {
  background-color: #d2dad5;
  font-family: "Noto Sans", serif;
}

/* main section box */
.container {
  background-color: #a0b2a6;
  margin: 60px auto;
  width: 600px;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(160, 178, 166, 0.3);
  border-radius: 30px;
}
